.window {
  height: 100vh;
  width: 100%;
  position: relative; /* ✅ Ensures child can move freely */
  overflow: hidden;
  background-image: url("../public/image/wallpaper.jpg");
  background-size: cover; /* Just for visibility */
}


.app-container{
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}