*{
  margin: 0;
  padding: 0;

}

body{
  background-color: black;
}


.flex{
  display: flex;
  align-items: center;
}

.hover-white:hover{
  background-color: var(--hover-white);
}

.cover{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -2;
}

:root{
  --taskbar:rgb(33,33,33);
  --hover-white:rgba(255, 255, 255, 0.185);
  --border:rgba(128, 128, 128, 0.444);
  --blue:rgb(56, 156, 218);
  
}